/*Structure of the article*/
article{
    padding-top: 0.001%;
}


/*Title of the article */
h1{
    font-size: 3.8em;
    text-align: center;
}


/*Title of the paragraph */
h3 {
    text-align: center;
}


/*Content of the article*/
p{
    font-size: 1.1em;
    padding-left: 20%;
    text-align: left;
    padding-right: 20%;
}


/*Author of the article*/
p.author {
    font-size: 0.8em;
    text-align: center;
    font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif; 
    font-weight: bolder;
}