

.footer{
    background-color: #000000;
    left: 0px;
    right: 0px;
    color: white;
    overflow:auto
    padding-botton: 0px;
}

p.copyright{
    text-align: left;
    font-size: 1rem;
    color: white;
}

#footer_icon{
    color: white;
    font-size: 1.2rem;
    padding-bottom: 5%; 
    padding-right: 1%;
  }

#footer_icon:hover{
    color: gray;
    font-size: 1.2rem; 
    padding-right: 1%;
}


body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
 }
 main {
     flex: 1 0 auto;
 }
