p , h2{
    color: white;
}
@import "compass/css3";

@mixin m($val) 			 {margin-top:$val; margin-bottom:$val;}		// 'margin'
@mixin p($val) 				{padding-top:$val;padding-bottom:$val;}		// 'margin sides'
@mixin ms($val) 			 {margin-left:$val; margin-right:$val;}		// 'padding'
@mixin ps($val) 			 {padding-left:$val;padding-right:$val;}		// 'padding sides'
@mixin dim($width, $height) {width:$width; height:$height;}				// 'dimensions'

@mixin center($width, $height) {
	position:absolute;
	left:90%;
	top:50%;
	width:$width;
	height:$height;
	margin-left:-($width/2);
	margin-top:-($height/2);
}

@mixin texthide 		{line-height: 0; font-size: 0; color: transparent;}

@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {@content; }
	@-moz-keyframes #{$name} {@content;}
	@-ms-keyframes #{$name} {@content;}
	@keyframes #{$name} {@content;}
}

@mixin animation ($name, $duration: 1s, $delay: 0s, $iterations: 1, $direction: normal, $timing: ease, $fillmode: forwards) {
	-webkit-animation: $name $duration $delay $iterations $direction $timing $fillmode ;
	-moz-animation:	$name $duration $delay $iterations $direction $timing $fillmode ;
	-o-animation:      $name $duration $delay $iterations $direction $timing $fillmode ;
	animation:         $name $duration $delay $iterations $direction $timing $fillmode ;
}


@include keyframes(pulse) {
	0%			{ opacity: 0; background-position:center top; @include background-size(0 auto);}
	10%			{opacity: 0; }
	50%	      {opacity: 1; @include background-size(75% auto);}
	90%			{opacity: 0; }
	100%		{ opacity: 0; background-position:center bottom; @include background-size(0 auto);}

}
 
body {
    background: #eb4924;
  }
  .downArrow{
        margin-left:  10%;
        margin-top: 50%;
    
  }
  .bounce {
      -moz-animation: bounce 3s infinite;
      -webkit-animation: bounce 3s infinite;
      animation: bounce 3s infinite;
  }
  @-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  /* Demo Purpose Only*/
  .demo {
    font-family: 'Raleway', sans-serif;
      color:#fff;
      display: block;
      margin: 0 auto;
      padding: 15px 0;
      text-align: center;
  }
  .demo a{
    font-family: 'Raleway', sans-serif;
  color: #2ecc71;		
  }


   /* max-with is for desktop 
@media (max-width: 400px) {
  p{
    font-size: 4rem;
  }
}


/* min-with is for mobile */

/*
width: larghezza
height: altezza

Nell' ispect di google le dimensioni sono presentate
X * X
la prima e' width
La seconda e' l' altezza

*/


/*Double application open - To fix*/
@media(min-width:190px) and (min-height:144px){
  p{
    font-size: 1rem;
  }
  a{
    font-size: 1.9rem;
    color: black;
  }
}

@media(max-width:400px) and (max-height:460px){
  p{
    font-size: 0.5rem;
  }
  a{
    font-size: 1.9rem;
    color: black;
  }
}

/*Galaxy s5 -rotated */
@media (min-height: 360px) and (min-width: 640px) {
  p {
    font-size: 2rem;
  }
  a {
    font-size: 1.9rem;
    color: black;
  }
}



/*Random dimension: to fix -- Orizontal */
@media (min-height: 688px) and (min-width: 528px) {
  p {
    font-size: 0.1rem;
  }
  a {
    font-size: 0.8rem;
    color: black;
  }
}

/*Pixel 2 - Rotated*/
@media (min-height: 410px) and (min-width: 732px) {
  p {
    font-size: 1.2rem;
  }
  a {
    font-size: 1rem;
    color: black;
  }
}

@media(min-height: 1055px) and (min-width:999px){
  p{
    font-size: 1rem;
  }
  a{
    font-size: 1rem;
    color: black;
  }
}

/*Pixel 2 - Vertical*/
@media (min-height: 730px) and (min-width: 410px) {
  p {
    font-size: 2.6rem;
  }
  a {
    font-size: 2.1rem;
    color: black;
  }
}

/* Iphone X rotated */
@media (min-height: 375px) and (min-width: 812){
  a{
    font-size: 0.8rem;
    color: black;
  }
}

/* iPad -vertical */
@media (min-width:765 px) and (min-height:1024){
  p {
    font-size: 0.9rem;
  }
}


  
  
body {
    -webkit-text-size-adjust: 100%;
}
