p , ul {
    text-align: left;
    padding-left: 20%;
    padding-right: 20%;
}

h2 , h1 , h3 {
    text-align: center;
}

body {
background-color: #c0c0c0;
color: black; 
font-family: Ubuntu;
font-size: 1.25rem;
}
