/*
Author: Davide Pollicino
Date: 28/03/2020

*/


.section_title
{
    text-align: center !important;
    font-family: 'Montserrat';
    font-size: 36px!important;
}

.coding-wallpaper
{
    max-width: 100%!important;
    max-height: 100% !important;
}

.a:hover
{
    background-color: gray!important;
}

table
{
    font-size: 20px;
}

/*For monitor bigger than 1920px X 1080*/
@media only screen and (min-width: 1920) and (min-height: 1080px)
{
    table
    {
        font-size:35px!important;
    }
}